@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body, html {
    font-family: 'Roboto Condensed', sans-serif;
    fill: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #06456e 0%, #00090f 100%);
}

.bubble {
    fill-opacity: 0.7;
    stroke-width: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); 
}

.bubble:hover {
    stroke: #fff;
    stroke-width: 1.5px; /* White border on hover */
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
